extends base

block head
  title Azonto
  script(type='text/javascript', src='/js/main.js')
  script(src='/socket.io/socket.io.js')
  script.
    var socket = io.connect('http://localhost:5555')
    var me = {id: '#{id}', name: '#{name}'}
    socket.emit('identify', me)

    socket.on('join', function (user) {
      document.querySelector('ul.users').innerHTML += user.name + ' joined. <br/>'
    })

    socket.on('leave', function (user) {
      document.querySelector('ul.users').innerHTML += user.name + ' left. <br/>'
    })

block content
  h1.header.logo Azonto
  #unsupported This browser does not support the File APIs needed for the
    | application to run. Please reference the table
    | <a href="http://caniuse.com/fileapi">here</a> and install a browser that
    | supports it.
  div.container
    #dragregion Drag your music file here.
    progress(id="progressbar", value="0")
    input(type="button", id="togglebtn", onclick="toggleSong()", value="Play/Pause")
  div.room
    h2 Users
    div.me
      span Name&nbsp;
      span #{name}
    ul.users
