extends base

block head
  title Azonto
  script.
    var me = {id: '#{id}', name: '#{name}'}
  script(src='/socket.io/socket.io.js')
  script(src='/js/main.js')

block content
  h1.header.logo Azonto
  #unsupported This browser does not support the File APIs needed for the
    | application to run. Please reference the table
    | <a href="http://caniuse.com/fileapi">here</a> and install a browser that
    | supports it.
  div.container
    #dragregion Drag your music file here.
    progress(id="progressbar", value="0")
    input(type="button", id="togglebtn", onclick="toggleSong()", value="Play/Pause")
    input(type='button', value='Send')#download
  div.room
    h2 Users
    div.me
      span Name&nbsp;
      span #{name}
    ul.users
