extends base

block head
  title Azonto
  script(type='text/javascript', src='/js/main.js')

block content
  h1.header.logo Azonto

  #unsupported This browser does not support the File APIs needed for the application to run. Please reference the table <a href="http://caniuse.com/fileapi">here</a> and install a browser that supports it.
  #dragregion Drag your music file here.